<!-- This page is where users will see a list of uncompleted/completed surveys -->
<app-user-layout class="d-flex flex-column">
  <app-card title="Your Surveys">
    <div class="row gap-4 p-2">
      <div
        class="user-survey-card col d-flex flex-column"
        *ngFor="let survey of surveys"
      >
        <h5>{{ survey.title }}</h5>
        <span>
          <b class="text-primary">Due:</b> {{ survey.dueDate.split("T")[0] }}
        </span>
        <button
          class="btn btn-primary mt-4"
          type="button"
          routerLink="/answer-survey/{{ survey.id }}"
        >
          Start
        </button>
      </div>
    </div>
  </app-card>
  <!-- <app-card class="ms-4" title="Surveys Completed">
    <div class="row gap-4 p-3">
      <div class="user-survey-card col">
        <h5>Survey Title</h5>
        <p><b class="text-primary">Due:</b> 20/10/2023</p>
        <button class="btn btn-info">Edit</button>
      </div>
      <div class="user-survey-card col">
        <h5>Expired Survey Title</h5>
        <p><b class="text-primary">Due:</b> 20/10/2023</p>
        <button class="btn btn-danger disabled">Closed</button>
      </div>
    </div>
  </app-card> -->
</app-user-layout>
