<app-admin-layout>
  <div class="d-flex flex-column gap-4">
    <app-card title="Create New User">
      <form #loginForm="ngForm" id="form-inputs" (submit)="addUser()">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row gap-4">
            <div
              class="login-input rounded-3 input-group mb-3 overflow-hidden border"
            >
              <input
                required
                type="username"
                class="form-control hide-focus border-0 py-2 px-4 bg-dark text-white"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="login-username-icon"
                [(ngModel)]="newUsername"
              />
              <span
                class="input-group-text border-0 ps-1 px-4 bg-dark text-white"
                id="login-username-icon"
              >
                <i-bs name="person-fill" width="20" height="20"></i-bs>
              </span>
            </div>
            <div
              class="login-input rounded-3 input-group mb-3 overflow-hidden border"
            >
              <input
                required
                [type]="passwordVisibility ? 'text' : 'password'"
                class="form-control hide-focus border-0 py-2 px-4 bg-dark text-white"
                placeholder="Password"
                aria-label="Password"
                aria-describedby="login-password-icon"
                [(ngModel)]="newPassword"
              />
              <span
                class="pointer input-group-text border-0 ps-1 px-4 bg-dark text-white"
                id="login-password-icon"
                (click)="togglePasswordVisibility()"
              >
                <i-bs
                  name="eye"
                  width="20"
                  height="20"
                  *ngIf="!passwordVisibility"
                ></i-bs>
                <i-bs
                  name="eye-slash"
                  width="20"
                  height="20"
                  *ngIf="passwordVisibility"
                ></i-bs>
              </span>
            </div>

            <button
              type="submit"
              id="create-new-user-submit"
              class="btn btn-sm btn-primary rounded-3"
              [disabled]="!loginForm.valid"
            >
              Create
            </button>
          </div>
          <!-- Group selection -->
          <div *ngFor="let group of groups">
            <input
              type="checkbox"
              [(ngModel)]="group.selected"
              name="group-{{ group.id }}"
            />{{ group.name }}
          </div>
        </div>
      </form>
      <!-- <app-filterable-dropdown [data]="users"></app-filterable-dropdown> -->
    </app-card>
    <app-card title="Users">
      <div class="container">
        <!-- <input
          class="form-control"
          id="myInput"
          type="text"
          placeholder="Search.."
        />
        <br /> -->
        <table class="table table-bordered table-striped text-white">
          <thead>
            <tr>
              <th>Username</th>
              <!-- <th>Password</th> -->
              <th>Groups</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="myTable">
            <tr *ngFor="let user of users">
              <td>
                <span class="text-white">{{ user.username }}</span>
              </td>
              <td>
                <span class="text-white">{{ user.userGroups?.groups }}</span>
              </td>
              <td>
                <button class="btn btn-primary me-2" (click)="editUser(user)">
                  Edit
                </button>
                <button class="btn btn-secondary" (click)="deleteUser(user.id)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</app-admin-layout>
