<div class="btn-group" dropdown>
  <button
    id="button-animated"
    dropdownToggle
    type="button"
    class="btn btn-primary dropdown-toggle"
    aria-controls="dropdown-animated"
  >
    Button dropdown <span class="caret"></span>
  </button>
  <ul
    id="dropdown-animated"
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
    aria-labelledby="button-animated"
  >
    <input
      class="form-control"
      id="myInput"
      type="text"
      placeholder="Search.."
    />
    <!-- <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Another action</a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Something else here</a>
    </li> -->
    <li role="menuitem" *ngFor="let datum; in: data">
      <a class="dropdown-item" href="#">{{ datum.value }}</a>
    </li>
  </ul>
</div>
