.fixed-button {
  position: fixed;
  top: 1.7px; /* Adjust this value to place it at your desired position from the top */
  left: 50%; /* This will center the button horizontally */
  transform: translateX(-50%); /* This will ensure the centering is accurate */
  z-index: 1000; /* Ensure it appears above other elements */
}

.button-spacing {
  margin-right: 8px; /* or any other value you prefer */
}

.admin-survey-column {
  width: 150px;
}

.admin-survey-title {
  width: 250px;
}

.admin-survey-divider {
  border-top: 1px solid red;
}
